In [ ]:
!pip install cudf-cu11 --extra-index-url=https://pypi.nvidia.com

Looking in indexes: https://pypi.org/simple, https://pypi.nvidia.com
Collecting cudf-cu11
  Downloading https://pypi.nvidia.com/cudf-cu11/cudf_cu11-24.10.1-cp310-cp310-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (24.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 24.3/24.3 MB 80.0 MB/s eta 0:00:00
Requirement already satisfied: cachetools in /usr/local/lib/python3.10/dist-packages (from cudf-cu11) (5.5.0)
Collecting cubinlinker-cu11 (from cudf-cu11)
  Downloading https://pypi.nvidia.com/cubinlinker-cu11/cubinlinker_cu11-0.3.0.post2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (8.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.8/8.8 MB 107.5 MB/s eta 0:00:00
Collecting cuda-python<12.0a0,>=11.7.1 (from cudf-cu11)
  Downloading cuda_python-11.8.5.post1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (12 kB)
Collecting cupy-cuda11x>=12.0.0 (from cudf-cu11)
  Downloading cupy_cuda11x-13.3.0-cp310-cp310-manylinux2014_x86_64.whl.metadata (2.7 kB)
Requirement already satisfied: fsspec>=0.6.0 in /usr/local/lib/python3.10/dist-packages (from cudf-cu11) (2024.10.0)
Collecting libcudf-cu11==24.10.* (from cudf-cu11)
  Downloading https://pypi.nvidia.com/libcudf-cu11/libcudf_cu11-24.10.1-py3-none-manylinux_2_28_x86_64.whl (502.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 502.8/502.8 MB 3.4 MB/s eta 0:00:00
Requirement already satisfied: numba>=0.57 in /usr/local/lib/python3.10/dist-packages (from cudf-cu11) (0.60.0)
Requirement already satisfied: numpy<3.0a0,>=1.23 in /usr/local/lib/python3.10/dist-packages (from cudf-cu11) (1.26.4)
Requirement already satisfied: nvtx>=0.2.1 in /usr/local/lib/python3.10/dist-packages (from cudf-cu11) (0.2.10)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from cudf-cu11) (24.2)
Requirement already satisfied: pandas<2.2.3dev0,>=2.0 in /usr/local/lib/python3.10/dist-packages (from cudf-cu11) (2.2.2)
Collecting ptxcompiler-cu11 (from cudf-cu11)
  Downloading https://pypi.nvidia.com/ptxcompiler-cu11/ptxcompiler_cu11-0.8.1.post2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_28_x86_64.whl (8.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.7/8.7 MB 111.5 MB/s eta 0:00:00
Requirement already satisfied: pyarrow<18.0.0a0,>=14.0.0 in /usr/local/lib/python3.10/dist-packages (from cudf-cu11) (17.0.0)
Collecting pylibcudf-cu11==24.10.* (from cudf-cu11)
  Downloading https://pypi.nvidia.com/pylibcudf-cu11/pylibcudf_cu11-24.10.1-cp310-cp310-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (20.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 20.0/20.0 MB 90.4 MB/s eta 0:00:00
Requirement already satisfied: rich in /usr/local/lib/python3.10/dist-packages (from cudf-cu11) (13.9.4)
Collecting rmm-cu11==24.10.* (from cudf-cu11)
  Downloading https://pypi.nvidia.com/rmm-cu11/rmm_cu11-24.10.0-cp310-cp310-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (1.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 73.6 MB/s eta 0:00:00
Requirement already satisfied: typing_extensions>=4.0.0 in /usr/local/lib/python3.10/dist-packages (from cudf-cu11) (4.12.2)
Requirement already satisfied: fastrlock>=0.5 in /usr/local/lib/python3.10/dist-packages (from cupy-cuda11x>=12.0.0->cudf-cu11) (0.8.2)
Requirement already satisfied: llvmlite<0.44,>=0.43.0dev0 in /usr/local/lib/python3.10/dist-packages (from numba>=0.57->cudf-cu11) (0.43.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas<2.2.3dev0,>=2.0->cudf-cu11) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas<2.2.3dev0,>=2.0->cudf-cu11) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas<2.2.3dev0,>=2.0->cudf-cu11) (2024.2)
Requirement already satisfied: markdown-it-py>=2.2.0 in /usr/local/lib/python3.10/dist-packages (from rich->cudf-cu11) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /usr/local/lib/python3.10/dist-packages (from rich->cudf-cu11) (2.18.0)
Requirement already satisfied: mdurl~=0.1 in /usr/local/lib/python3.10/dist-packages (from markdown-it-py>=2.2.0->rich->cudf-cu11) (0.1.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas<2.2.3dev0,>=2.0->cudf-cu11) (1.16.0)
Downloading cuda_python-11.8.5.post1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (19.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 19.6/19.6 MB 87.5 MB/s eta 0:00:00
Downloading cupy_cuda11x-13.3.0-cp310-cp310-manylinux2014_x86_64.whl (96.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 96.6/96.6 MB 8.8 MB/s eta 0:00:00
Installing collected packages: ptxcompiler-cu11, cuda-python, libcudf-cu11, cupy-cuda11x, cubinlinker-cu11, rmm-cu11, pylibcudf-cu11, cudf-cu11
  Attempting uninstall: cuda-python
    Found existing installation: cuda-python 12.2.1
    Uninstalling cuda-python-12.2.1:
      Successfully uninstalled cuda-python-12.2.1
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
cudf-cu12 24.10.1 requires cuda-python<13.0a0,>=12.0, but you have cuda-python 11.8.5.post1 which is incompatible.
pylibcudf-cu12 24.10.1 requires cuda-python<13.0a0,>=12.0, but you have cuda-python 11.8.5.post1 which is incompatible.
pylibraft-cu12 24.10.0 requires cuda-python<13.0a0,>=12.0, but you have cuda-python 11.8.5.post1 which is incompatible.
rmm-cu12 24.10.0 requires cuda-python<13.0a0,>=12.0, but you have cuda-python 11.8.5.post1 which is incompatible.
Successfully installed cubinlinker-cu11-0.3.0.post2 cuda-python-11.8.5.post1 cudf-cu11-24.10.1 cupy-cuda11x-13.3.0 libcudf-cu11-24.10.1 ptxcompiler-cu11-0.8.1.post2 pylibcudf-cu11-24.10.1 rmm-cu11-24.10.0

In [ ]:
!pip install plotly-express

Collecting plotly-express
  Downloading plotly_express-0.4.1-py2.py3-none-any.whl.metadata (1.7 kB)
Requirement already satisfied: pandas>=0.20.0 in /usr/local/lib/python3.10/dist-packages (from plotly-express) (2.2.2)
Requirement already satisfied: plotly>=4.1.0 in /usr/local/lib/python3.10/dist-packages (from plotly-express) (5.24.1)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.10/dist-packages (from plotly-express) (0.14.4)
Requirement already satisfied: scipy>=0.18 in /usr/local/lib/python3.10/dist-packages (from plotly-express) (1.13.1)
Requirement already satisfied: patsy>=0.5 in /usr/local/lib/python3.10/dist-packages (from plotly-express) (1.0.1)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.10/dist-packages (from plotly-express) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.20.0->plotly-express) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.20.0->plotly-express) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.20.0->plotly-express) (2024.2)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from plotly>=4.1.0->plotly-express) (9.0.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from plotly>=4.1.0->plotly-express) (24.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas>=0.20.0->plotly-express) (1.16.0)
Downloading plotly_express-0.4.1-py2.py3-none-any.whl (2.9 kB)
Installing collected packages: plotly-express
Successfully installed plotly-express-0.4.1

In [ ]:
!wget https://data.rapids.ai/datasets/nyc_parking/nyc_parking_violations_2022.parquet

--2024-11-26 04:00:50--  https://data.rapids.ai/datasets/nyc_parking/nyc_parking_violations_2022.parquet
Resolving data.rapids.ai (data.rapids.ai)... 13.226.228.97, 13.226.228.31, 13.226.228.119, ...
Connecting to data.rapids.ai (data.rapids.ai)|13.226.228.97|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 474211285 (452M) [binary/octet-stream]
Saving to: ‘nyc_parking_violations_2022.parquet’

nyc_parking_violati 100%[===================>] 452.24M  62.8MB/s    in 7.7s

2024-11-26 04:00:58 (58.6 MB/s) - ‘nyc_parking_violations_2022.parquet’ saved [474211285/474211285]

# Basic Pandas Operations

In [ ]:
import pandas as pd

In [ ]:
%%time
df = pd.read_parquet("nyc_parking_violations_2022.parquet",columns=["Registration State","Violation Description","Vehicle Body Type","Issue Date","Summons Number"])

CPU times: user 287 ms, sys: 28.1 ms, total: 316 ms
Wall time: 357 ms

In [ ]:
%%time
df.sample(10)

CPU times: user 2.62 s, sys: 1.44 s, total: 4.07 s
Wall time: 3.96 s

,Registration State,Violation Description,Vehicle Body Type,Issue Date,Summons Number
3350743,NY,PHTO SCHOOL ZN SPEED VIOLATION,SUBN,09/01/2021,4747083236
8827836,NY,20A-No Parking (Non-COM),SUBN,01/06/2022,8919027110
491311,NJ,21-No Parking (street clean),SUBN,07/15/2021,8882968261
10105694,NY,PHTO SCHOOL ZN SPEED VIOLATION,PICK,03/09/2022,4770773560
4886073,NY,70A-Reg. Sticker Expired (NYS),4DSD,10/13/2021,8869028616
7116791,NY,PHTO SCHOOL ZN SPEED VIOLATION,SUBN,11/29/2021,4758467018
7767974,NY,21-No Parking (street clean),VAN,11/26/2021,8945668536
10999034,NY,69-Fail to Dsp Prking Mtr Rcpt,VAN,03/03/2022,8862329039
6601435,NY,38-Failure to Dsplay Meter Rec,4DSD,11/15/2021,8983698767
5639997,FL,21-No Parking (street clean),4DSD,10/28/2021,8902013261

In [ ]:
%%time
(df[["Registration State","Violation Description"]].value_counts().groupby("Registration State").head(1).sort_index().reset_index())

CPU times: user 22 s, sys: 2.88 s, total: 24.9 s
Wall time: 25.1 s

   Registration State           Violation Description  count
0                  99                            <NA>  17550
1                  AB                  14-No Standing     22
2                  AK  PHTO SCHOOL ZN SPEED VIOLATION    125
3                  AL  PHTO SCHOOL ZN SPEED VIOLATION   3668
4                  AR  PHTO SCHOOL ZN SPEED VIOLATION    537
..                ...                             ...    ...
62                 VT  PHTO SCHOOL ZN SPEED VIOLATION   3024
63                 WA    21-No Parking (street clean)   3732
64                 WI                  14-No Standing   1639
65                 WV  PHTO SCHOOL ZN SPEED VIOLATION   1185
66                 WY    21-No Parking (street clean)    138

[67 rows x 3 columns]

In [ ]:
%%time
(df.groupby(["Vehicle Body Type"]).agg({"Summons Number":"count"}).sort_values(["Summons Number"],ascending=False))

CPU times: user 25.1 ms, sys: 3.14 ms, total: 28.3 ms
Wall time: 27.4 ms

                   Summons Number
Vehicle Body Type
SUBN                      6449007
4DSD                      4402991
VAN                       1317899
DELV                       436430
PICK                       429798
...                           ...
YANT                            1
YBSD                            1
YEL                             1
YL                              1
Z1UT                            1

[967 rows x 1 columns]

# NVIDIA RAPID CODe

In [ ]:
get_ipython().kernel.do_shutdown(restart=True)

{'status': 'ok', 'restart': True}

In [ ]:
!nvidia-smi

Mon Nov 25 15:18:36 2024
+---------------------------------------------------------------------------------------+
| NVIDIA-SMI 535.104.05             Driver Version: 535.104.05   CUDA Version: 12.2     |
|-----------------------------------------+----------------------+----------------------+
| GPU  Name                 Persistence-M | Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp   Perf          Pwr:Usage/Cap |         Memory-Usage | GPU-Util  Compute M. |
|                                         |                      |               MIG M. |
|=========================================+======================+======================|
|   0  Tesla T4                       Off | 00000000:00:04.0 Off |                    0 |
| N/A   48C    P8              10W /  70W |      0MiB / 15360MiB |      0%      Default |
|                                         |                      |                  N/A |
+-----------------------------------------+----------------------+----------------------+

+---------------------------------------------------------------------------------------+
| Processes:                                                                            |
|  GPU   GI   CI        PID   Type   Process name                            GPU Memory |
|        ID   ID                                                             Usage      |
|=======================================================================================|
|  No running processes found                                                           |
+---------------------------------------------------------------------------------------+

In [ ]:
import cudf

In [ ]:
%load_ext cudf.pandas

In [ ]:
%%time
import pandas as pd
df1 = pd.read_parquet("nyc_parking_violations_2022.parquet",columns=["Registration State","Violation Description","Vehicle Body Type","Issue Date","Summons Number"])

In [ ]:
%%time
import pandas as pd
df1 = cudf.read_parquet("nyc_parking_violations_2022.parquet",columns=["Registration State","Violation Description","Vehicle Body Type","Issue Date","Summons Number"])

CPU times: user 561 ms, sys: 302 ms, total: 862 ms
Wall time: 1.04 s

In [ ]:
%%time
df1.sample(10)

CPU times: user 2.43 s, sys: 1.29 s, total: 3.72 s
Wall time: 3.63 s

,Registration State,Violation Description,Vehicle Body Type,Issue Date,Summons Number
12843523,NY,PHTO SCHOOL ZN SPEED VIOLATION,SUBN,05/24/2022,4780210290
14664416,NY,PHTO SCHOOL ZN SPEED VIOLATION,SUBN,06/16/2022,4783217713
14065598,NY,BUS LANE VIOLATION,SUBN,05/26/2022,4024273905
9021497,NY,PHTO SCHOOL ZN SPEED VIOLATION,LIM,02/03/2022,4766905829
14593865,NY,PHTO SCHOOL ZN SPEED VIOLATION,SUBN,06/07/2022,4781798305
8135887,NY,70A-Reg. Sticker Expired (NYS),4DSD,01/25/2022,8868849744
7613238,NY,74-Missing Display Plate,4DSD,12/22/2021,8892361429
2897830,NY,PHTO SCHOOL ZN SPEED VIOLATION,SUBN,09/03/2021,4747324938
11836654,NY,21-No Parking (street clean),SUBN,03/30/2022,8765796391
1836419,NY,BUS LANE VIOLATION,VAN,07/20/2021,4018291930

In [ ]:
%%time
(df1[["Registration State","Violation Description"]].value_counts().groupby("Registration State").head(1).sort_index().reset_index())

CPU times: user 23.1 s, sys: 2.73 s, total: 25.8 s
Wall time: 25.4 s

   Registration State           Violation Description  count
0                  99                            <NA>  17550
1                  AB                  14-No Standing     22
2                  AK  PHTO SCHOOL ZN SPEED VIOLATION    125
3                  AL  PHTO SCHOOL ZN SPEED VIOLATION   3668
4                  AR  PHTO SCHOOL ZN SPEED VIOLATION    537
..                ...                             ...    ...
62                 VT  PHTO SCHOOL ZN SPEED VIOLATION   3024
63                 WA    21-No Parking (street clean)   3732
64                 WI                  14-No Standing   1639
65                 WV  PHTO SCHOOL ZN SPEED VIOLATION   1185
66                 WY    21-No Parking (street clean)    138

[67 rows x 3 columns]

In [ ]:
%%time
(df1.groupby(["Vehicle Body Type"]).agg({"Summons Number":"count"}).sort_values(["Summons Number"],ascending=False))

CPU times: user 18.9 ms, sys: 5.05 ms, total: 24 ms
Wall time: 22.1 ms

                   Summons Number
Vehicle Body Type
SUBN                      6449007
4DSD                      4402991
VAN                       1317899
DELV                       436430
PICK                       429798
...                           ...
YANT                            1
YBSD                            1
YEL                             1
YL                              1
Z1UT                            1

[967 rows x 1 columns]